/* this is css */
		* {
			box-sizing: border-box;
		}

		/* CSS property for header section */
		.header {
			background-color: grey;
			padding: 15px;
			text-align: center;
		}

		/* CSS property for navigation menu */
		.nav_menu {
			overflow: hidden;
			background-color: #333;
		}

		.nav_menu a {
			float: left;
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		.nav_menu a:hover 
        {
			background-color: white;
			color: green;
		}

		/* CSS property for content section */
		.columnA,
		.columnB,
		.columnC,
        .columnD,
        .columnE,
        .columnF {
			float: left;
			width: 30%;
			padding: 15px;
			text-align: justify;
		}
        .columnG,
        .columnH {
            float: left;
			width: 10%;
			padding: 10px;
			text-align: justify;

        }

		h2 {
			color: black;
			text-align: center;
		}

		/* Media query to set website layout 
			according to screen size */
		@media screen and (max-width:600px) {

			.columnA,
			.columnB,
			.columnC {
				width: 30%;
			}
		}

		@media screen and (max-width:400px) {

			.columnA,
			.columnB,
			.columnC {
				width: 100%;
			}
		}
